{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la pages de nos projets{% endblock %}

{% block body %}

{%  for projet in projets %}

    <h1>
        <a href="{{path('direction_projet', {'id': projet.id}) }}">        
            {{projet.titre | upper}}
        </a>
    </h1>
    
    <p>
    <img src="{{ asset(projet.image)}}" style="width:250px; height:250px;">
       
    </p>

    <p>
        {{ projet.description}}
    </p>
    <p>
        {{ projet.contenu}}
    </p>
 {%  endfor %}

{% endblock %}