{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la pages de nos projets{% endblock %}

{% block body %}

    {%  for projet in projets %} 
        <div class="jumbotron text-center hoverable p-4">
            <div class="row">
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <div class="view overlay">
                        <img src="{{ asset(projet.image)}}" style="width:250px; height:250px;" class="img-fluid" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>                    
                </div>
                <div class="col-md-7 text-md-left ml-3 mt-3">
                      
                    <h4 class="h4 mb-4"><a href="{{path('direction_artistique', {'id': projet.id}) }}">        
                        {{projet.titre | upper}}
                    </a></h4>                  
                    <p class="font-weight-normal">{{ projet.description}}</p>
                    <p class="font-weight-normal"> {{ projet.contenu }}</p>          
                    <a type="button" class="btn btn-outline-info">Lire plus</a>
                    
                </div>           
            </div>           
        </div>
    {%  endfor %}

{% endblock %}