
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur le site d'Hugo Gaspard {% endblock %}</title><link rel="shortcut icon" href="https://www.hugogaspard.com/wp-content/uploads/2019/10/HG.jpg" />
        {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('uploads/css/footer.css')}}">
        <link rel="stylesheet" href="{{asset('uploads/css/index.css')}}">
        <link rel="stylesheet" href="{{asset('uploads/css/portfolio.css')}}">
        
        {% endblock %}
    </head>
    <body>
      
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="{{ asset('/uploads/img/HG.jpg')}}" border-radius="40px" width="40" height="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><circle cx="12" cy="13" r="4"/></img>
                <strong>ALAPAPA</strong> <br>
                <span class="text-muted">Les hommes et les enfants d'abord ! 
            </span> 
            </a> 
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('direction_artistique')}}">| Direction artistique |</a>
            
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('direction_projet')}}">| Direction projet |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('article')}}">| Nos articles |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="{{path('app_login')}}" tabindex="-1" >| Nous contacter  |</a>
                  </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    
                        <a href="https://www.facebook.com/hugogaspardpro/" class="text-white"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/hugogaspard" class="text-white"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/hugogaspardpro/" class="text-white"><i class="fa fa-instagram"></i></a>
                    
                </form>
              </div>
            </nav>
          </header>
   
        
        <div class="container-fluid">
            {% if app.user %}
            <p> Bienvenue {{ app.user.username | capitalize }} </p>
            {% endif %}

            {% block body %}
            {% endblock %}
        </div>

<footer class="footer mt-auto py-3" style="background-color: rgb(66, 65, 65);">

    <div class="container">
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Vous avez un projet ? </h5>
        </li>
        <li class="list-inline-item">
            <span>01 48 75 59 59</span> ou
          <a href="{{path('app_login')}}" class="btn btn-rounded">Contactez-nous !</a>
        </li>
      </ul>
      <div class="footer-copyright text-center py-3" style="background-color: rgb(59, 59, 59);">© Hugo Gaspard - {{ 'now'|date('Y') }} and beyond.   

      <p class="float-right"><a href="#" type="button" class="btn btn-dark" >Back to top</a></p>
    </div>
 
    </div>
    <br><br><br>
  
  </footer>
 
    </body>

            {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            {% endblock %}
       
</html>
