{% extends 'base.html.twig' %}

{% block title %} {{article.titre}} {% endblock %}

{% block body %}

{% if article.image %}
  <img src="{{asset(article.image)}}" alt="article upload image"/>
{% endif %}

  <div class="container">
    <div>

      <h1> {{article.titre | upper }}</h1>
      <h6> Categorie : {{ article.categorie}}</h6>
          <p>
            Posté le 
            {{article.date | date("d/m/Y h:i")}}
          </p>
          <br>
          <p> {{article.contenu}}</p>
          <h6> par Hugo Gaspard</h> 

    </div>
  </div>

{% endblock %}