{% extends 'base.html.twig' %}

{% block title %} {{article.titre}} {% endblock %}

{% block body %}

  <section id="articleView">

    <div class="container">  
      <div >
        <img src="{{ asset('images/articles/'~ article.image) }}" class="img-fluid"  alt="photo d'article" style="width:400px; height:400px;"/> 
      </div>

      <div>
        <h1> {{article.titre | upper | raw  }}</h1>
        <h6> Categorie : {{ article.categorie | raw }}</h6>
        <p>
              Posté le 
              {{article.date | date("d/m/Y h:i")}}
        </p>
            <br>
        <p> {{article.contenu | raw }}</p>
        <h6> par Hugo Gaspard</h> 

      </div>
    </div>

  </section>

{% endblock %}